body {
  background-color: #0B0C10;
  color: #C5C6C7;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #1F2833;
}

.navbar-brand {
  color: #66FCF1 !important;
  font-weight: bold;
}

.nav-link {
  color: #C5C6C7 !important;
}

#livetime {
  color: #00ffff;
  text-shadow:
    0 0 1px #00ffff,
    0 0 2px #00ffff,
    0 0 3px #00ffff,
    0 0 4px #00ffee;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
}

#VisitorCounter {
  color: #00ffff;
  text-shadow:
    0 0 1px #00ffff,
    0 0 2px #00ffff,
    0 0 3px #00ffff,
    0 0 4px #00ffee;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
}

.carousel-item {
  transition: transform 1s ease-in-out;
}

.footer {
  background-color: #000000;
  text-align: center;
  color: #AAAAAA;
  padding: 20px;
  border-top: 1px solid #00FFFF;
}

/* Neon Container Background */
.neon-container {
  background-color: #0a0a0a;
  border: 3px solid #00ffee;
  border-radius: 15px;
  box-shadow: 0 0 10px #00ffee, 0 0 20px #00ffee inset;
}

/* Neon Hover Effect */
.neon-hover:hover {
  color: #ff00ff;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
  transform: scale(1.05);
  cursor: pointer;
}

